#main-temp-container {
    display: flex;
    justify-content: center;
}

#main-temperature {
    font-family: 'Star4000-Large-Compressed-Numbers';
    font-size: 10vmin;
    display: flex;
    justify-content: center;
}

#main-degrees {
    font-family: 'Star4000-Large-Compressed';
}

#main-conditions {
    font-family: 'Star4000-Extended';
    font-size: 7vmin;
    margin-bottom: 10px;
}

#main-weather-icon {
    display: flex;
    justify-content: center;
}

#main-weather-icon img {
    height: 20vmin;
}

#main-weather-wind-speed {
    font-family: 'Star4000';
    font-size: 7vmin;
}

@media screen and (max-width: 560px) {
    #main-temperature {
        font-size: 40pt
    }
}